/* Reset & Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Typography */
h2 {
  
  font-weight: 500;
  font-size: 24px;
  word-spacing: 2%;
}

p {
  color: #777777;
  word-spacing: 2%;
  margin-bottom: 2em;
  margin-top: 1em;
}

/* Main Container */
.Main-Container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.left-side, .Right-side {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Left Side */
.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.215);
}

/* Hero Face */
.leftHedingsection{
 text-align: center;
}
.HeroFace{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeroFace .HeroImage{
  height: auto;
  width: calc(80% * ( 7/ 8));
  justify-content: center;
  border-radius: 50%; 
  border: .2em solid rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: .3em;
}

.HeroFace .HeroImage.border-color-change {
  border: .2em solid transparent; 
  animation: border-color-animation 3s linear forwards;
}
 
.detection-area{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Detection Images */
.detection {
  width: 15em;
  display: block;
  position: absolute;
  z-index: 99;
}

.DetectionGreen {
  width: 15em;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  z-index: 99;
}

/* Tick Gif */
.tickGif {
  width: 2em;
  height: 2em;
  border: .2em solid #fff;
  background-color: #4E9459;
  border-radius: 50%;
  position: absolute;
  bottom: -.8em;
  z-index: 999;
  /* padding: .3em; */
  opacity: 0;
  transition: opacity 0.5s ease-in; 
}

.tick {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  animation: draw 2s forwards 1s infinite;
  transition: 1s ease-in;
}



/* Button Styles */
.left-side button {
  padding: 1em;
  width: 10em;
  border-radius: 0.5em;
  margin-top: 2em;
  background-color: #4e9459;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
}

.left-side button:focus {
  background-color: transparent;
  color: #4e9459;
  border: 2px solid #4e9459;
}




/* Right Side beginning Here */




.Right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 3em;
  
}

.notification {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none; 
  z-index: 1000; 
}

.RightHeading-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Right-side h3{
  font-weight: 500;
  padding: 2em;
}

/* Alert Section */
.Alert-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 3em;
  padding-right: 3em;
}

.Alert-section p {
  font-size: 12px;
}

.AlertItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Scanner Animation */
.scanning-section{
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.ocrloader {
  width: 260px;
  height: 320px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.ocrloader img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


@keyframes border-color-animation {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #4e9459;
  }
  100% {
    border-color: #4E9459;
  }
}

@keyframes draw { 
  100% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 0;
  }
  0% {
    stroke-dashoffset: 18;
  }
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .Main-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-side {
    border: none;
    text-align: center;
    display: none;
    opacity: 0; 
  }

  .Alert-section{
    padding-top: -10%;
  }

  .Right-side {
     /* height: 100vh; */
     display: flex;
     align-items: center;
     justify-content: space-around;
    
  }
  .Right-side .Alert-section {
    padding-left: 0;
    padding-right: 0;
    gap: 1em;
  }
  .AlertItems img {
    width: 5em;
  }  

  .detection, .DetectionGreen {
    width: 14em;
    height: 17em;
  }
}

@media screen and (max-width: 740px) {
  .AlertItems img {
    width: 3em;
  }  

  .detection, .DetectionGreen {
    width: 14em;
    height: 17em;
    padding: .4em;
    align-items: center;
  }

  .DetectionGreen {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    display: flex;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    display: none;
  }
}


/* Circular Border Progress Animation */
@keyframes circular-progress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


